// Language Page Styles

/* Set core body defaults */
html, body {
  height: 100%;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
margin: 0;
}

/* Make images easier to work with */
img,
picture {
max-width: 100%;
height: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
font: inherit;
}

hr {
  width: 45%;
}

body {
  background: black;
}

#language-logo {
    width: 300px;
    height: auto;
    margin: auto;
  }
  
  /* Jumbotron Text */
  .language-jumbotron {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    margin: auto;
    padding: 5em;
  }

  @media screen and (max-width: 650px) {
    .language-jumbotron {
      padding: 0;
      margin: 0;
      width: 100%;
    }
  }
  
  .language-jumbotron h1, h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 4em;
    text-align: center;
    opacity: 85%;
    font-weight: normal;
  }
  .language-jumbotron h1 {
    padding-top: 5rem;
    color: white;
  }
  .language-jumbotron h2{
    padding-top: 1rem;
    color: white;
  }
  
  /* Flag IMGs */
  .flags {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    padding-top: 2rem;
    text-align: center;
  }
  .flags img {
    border-radius: 50%;
    width: 9em;
    height: 9em;
    opacity: 85%;
    z-index: 1;
  }
  .flags img:hover {
    transition: .3s ease;
    opacity: 50%;
  }
  
  
  @media (max-width: 900px) {
  .america {
    padding-bottom: 1rem;
  }
  }



